<html>
<head>
	<meta charset="UTF-8">
	<title>配置检测服务</title>
	 <style>     
    #action_windows {      
      text-align: left;
      font-size:18px;
      background: #f1f1f1;
      max-width:95%;
      width: auto;      
      height: auto;
      padding: 20px;
    }
    #btn,#btn2,#btn3,#btn0,#updateBtn {
      width: auto;
      height: 30px;
      font-size: 20px;
      background-color:green;
      color:white;
    }
    #btn0 {
      margin-bottom: 20px;
    }
    #btn3 {
      background-color:gray;
    }
    #head1 {
      font-size: 40px;
    }
    #config {          
      display: none;
    }
  </style>
</head>
<body>	
    <center>
      <h3 id="head1">配置检测服务</h3>
      <div id="config">
      <textarea id="content" cols="80" rows="20"></textarea>
      <p><button id="btn0">更新</button></p>
      </div>
      <button id="btn">启动</button>  <button id="btn2">自动刷新/5s</button><button id="btn3">暂停刷新</button>  <button id="updateBtn">更新配置</button>
      <pre id="action_windows">等待启动...</pre>          
    </center>    

    <script>
      var url = "ws://" + window.location.host + "/ws";
      var ishttps = 'https:' == document.location.protocol ? true: false;      
      if(ishttps){        
        var url = "wss://" + window.location.host + "/ws";
      }
      var ws = new WebSocket(url);
      
      var action_windows = document.getElementById("action_windows");
      var btn0 = document.getElementById("btn0");
      var updateBtn =document.getElementById("updateBtn");
      var btn = document.getElementById("btn");
      var btn2 = document.getElementById("btn2");
      var btn3 = document.getElementById("btn3");      

      ws.onmessage = function (msg) {
        if (msg.data == "auto-refresh" || msg.data == "start") {
          action_windows.innerText = "";
        }
        var line =  msg.data + "\n";
       if (msg.data.indexOf("、") != -1) {
          action_windows.innerHTML +="<span style='color:red;word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;'>"+line+"</span>";
        } else if (msg.data.indexOf("Congratulations") !=-1){
          action_windows.innerHTML +="<span style='color:green;word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;'>"+line+"</span>";
        } else {
          action_windows.innerHTML +="<span style='word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;'>"+line+"</span>";
        }
      };

      updateBtn.onclick = function (e) {        
        document.getElementById("config").style.display ="table";
        this.style.display = "none";
        action_windows.innerText ="";
      };

      btn0.onclick = function (e) {
        document.getElementById("updateBtn").style.display ="inline";
        document.getElementById("config").style.display ="none";
        var content = document.getElementById("content").value;
        action_windows.innerText =""; 
        var content2 = "update-config"+content;
        if (content2.length >1024/2){
            alert("Config update failed!The content is too long,must less than 1024 bytes!");
            window.location.reload();
            return
        }
        ws.send(content2);        
      };
  
      btn.onclick = function (e) {
        action_windows.innerText ="";      
        ws.send("start");          
      };

      btn2.onclick = function (e) {
        this.disabled=true;  
        this.innerText="已自动刷新/5s";  
        this.style.background = "gray"; 

        document.getElementById("btn").disabled=true;
        document.getElementById("btn").style.background = "gray"; 

        document.getElementById("btn3").style.background = "green"; 
        document.getElementById("btn3").disabled = false; 
        action_windows.innerText ="";             
        ws.send("auto-refresh");          
      };

      btn3.onclick = function (e) {  
        this.disabled=true;
        document.getElementById("btn").disabled=false;
        document.getElementById("btn").style.background = "green";  

        document.getElementById("btn2").disabled=false;
        document.getElementById("btn2").style.background = "green"; 
        document.getElementById("btn2").innerText="自动刷新";

        document.getElementById("btn3").style.background = "gray";  
        ws.send("suspend");          
      };
    </script>
</body>
</html>